IMSY_APP_VERSION_TAG=latest

# GENERAL
# All data are temporarily stored in memory. Database not needed. Only for testing / trying out.
DEV_MODE=false

# OPTIONAL
# Must be valid UUIDv7 - recommemded when using database; example:
ORG_ID=019fdce5-d9f9-7061-ad79-fe8d9675179f
USER_ID=019fdce5-d9f9-7080-bfa0-c73df6c813e2

# DATABASE
DB_NAME=imsy
DB_USER=imsy
DB_PASSWORD=changeme

# ENCRYPTION
# Generated using: openssl rand -base64 32
ENCRYPTION_KEY=changeme
HMAC_ENCRYPTION_KEY=changeme